*.pyc
path_to_logs/*
learned_models/*
eval/*
models/*
viz/*
gaze_videos/*
videos/*
submit_scripts/*.sh
baselines/baselines/ppo2/__pycache__/*
videos/*
gaze_videos/*
gazeNetwork/pretrained_models/*
test_data/*
tf
sys
argparse
np
gym
.ipynb_checkpoints/*
gazeNetwork/.ipynb_checkpoints/*
asc/*
.vscode/*
logs/*

eval_beforeIJCAI/*
path_to_logs_beforeIJCAI/*
ppo_ckpts/*
slurm_scripts/tmp/*
